:root {
    font-family: "Montserrat", sans-serif;
    .page-enter-from,
    .page-leave-to {
        opacity: 0;
        filter: blur(2rem);
    }
    .page-enter-active,
    .page-leave-active {
        transition: all 0.5s;
    }
}
