:root {
    font-family: "Lora";
    a {
        text-decoration: dashed underline 1px;
        text-underline-offset: 2px;
    }
}

::selection {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.dark {
    @apply bg-neutral-900 text-neutral-200;
}
